<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sorabh.loginuiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginUIApp">
        <activity
            android:name=".startactivity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".startactivity.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginUIApp.NoActionBar"/>
        <activity
            android:name=".startactivity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".startactivity.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginUIApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>